{%extends 'mainapp/base.html'%}
{% block content%}
<div class="login">
    <form action ='' method="post" enctype="multipart/form-data">
        <fieldset><legend>Logout</legend>
        {%csrf_token%}
        <p id="log">Do you realy wish to Logout?</p>
        </fieldset>
        <button onlcick="myfunc()"class="btn btn-outline-danger" type="submit"><a href="{%url 'logout'%}">Yes</a></button>
        <button class="btn btn-outline-info" type="submit"> <a href="{%url 'home'%}">No</a></button>
        
  </form>  
</div>
<script>
  function myfunc(){
    document.getElementById('log').innerHTML= "YOU ARE LOGGED OUT!!";
  }
</script>
{%endblock%}